/* body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;  
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
input{
  display: inline-block;
  justify-content: center;
  width: 300px;
  height: 50px;
  margin: 10px auto 20px 120px;
  cursor: text;
}
.countries{
  width:550px;
  height:350px;
  border-radius: 15px;
  padding-left: 5px;
}
.countries{
  display: block;
  text-align: left;
  padding-top: 0;
  border: 1px solid gray;
}
.countries h2,img{
  display: inline-flex;
}
.countries img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
}
 .upper{
background-color: gray;
margin-top: 0;
padding-bottom: 5px;
}
.countries p{
  font-size: 1.2rem;
  line-height: .8rem;
}
.low{
  text-transform: lowercase;
} */
* {
  box-sizing: border-box;
  
}

body {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
/* BrowserRouter {
  background-image: url('https://www.jquerypost.com/demo/animated-world-map-with-round-circle-in-css-847/earth.jpg');
} */
img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
  box-shadow: 0 0 5px #333;
}

.countries {
  display: grid;
  grid-gap: 1rem;
  
}

.country {
  box-shadow: 0 0 5px rgb(92, 92, 92);
  border-radius: 5px;
  position: relative;
}

.country h2,
.country h3 {
  background-color: rgb(106, 106, 106);
  padding: 1rem;
  margin: 0;
  color: white;
}

.country h3 {
  padding: 0 1rem 1rem;
}

.cardContent {
  padding: 1rem;
}

.cardContent span {
  font-weight: 700;
  margin-right: 1rem;
}
.low {
  text-transform: lowercase;
}

@media (min-width: 575.98px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 767.98px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
}

@media (min-width: 1199.98px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
}