body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;  
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.countries{
  width:400px;
  height:250px;
  border-radius: 15px;
}
.countries{
  display: block;
  text-align: left;
  padding-top: 0;
  padding-left: 10px;
  border: 1px solid gray;
}
.countries h2,img{
  display: inline-flex;
}
.countries img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: right;
}
.countries p{
  font-size: 1.2rem;
}
