body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;  
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
input{
  display: inline-block;
  justify-content: center;
  width: 300px;
  height: 50px;
  margin: 10px auto 20px 120px;
  cursor: text;
}
.countries{
  width:550px;
  height:350px;
  border-radius: 15px;
  padding-left: 5px;
}
.countries{
  display: block;
  text-align: left;
  padding-top: 0;
  border: 1px solid gray;
}
.countries h2,img{
  display: inline-flex;
}
.countries img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
}
 .upper{
background-color: gray;
margin-top: 0;
padding-bottom: 5px;
}
.countries p{
  font-size: 1.2rem;
  line-height: .8rem;
}
.low{
  text-transform: lowercase;
}
