/* body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: flex;  
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
.spin::before {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10%;
  left: 10%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
}
input{
  display: inline-block;
  justify-content: center;
  width: 300px;
  height: 50px;
  margin: 10px auto 20px 120px;
  cursor: text;
}
.countries{
  width:550px;
  height:350px;
  border-radius: 15px;
  padding-left: 5px;
}
.countries{
  display: block;
  text-align: left;
  padding-top: 0;
  border: 1px solid gray;
}
.countries h2,img{
  display: inline-flex;
}
.countries img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
}
 .upper{
background-color: gray;
margin-top: 0;
padding-bottom: 5px;
}
.countries p{
  font-size: 1.2rem;
  line-height: .8rem;
}
.low{
  text-transform: lowercase;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
* {
  box-sizing: border-box;
  
}
body {
  margin: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
/* home page*/
li.linkhome{
  margin-bottom: 30px;
}
li.linkcountries{
  margin-top: 20px;
}
.mainhome h1{
  text-align: center;
  color: rgb(58, 116, 155);
}
.mainhome p,div.info{
  font-family: 'Roboto'sans-serif;
  font-size: 1.6rem;
}
.mainhome p{
  text-align: left;
}
div.info{
  text-align: center;
}
/* search input*/
input[type="text" ] {
  padding: 1px 1px 2px 15px;
  width: 300px;
  height: 40px;
  font-family: 'Roboto' sans-serif;
  font-size: 1rem;
}
input[type="text" ]{
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 1px solid rgb(58, 116, 155);
  box-shadow: 1 1px 0 gray;
}

.countries {
  display: grid;
  grid-gap: 1rem;
}
.country {
  box-shadow: 0 0 5px rgb(92, 92, 92);
  border-radius: 5px;
  position: relative;
}

.country h2,
.country h3 {
  background-color: rgb(103, 130, 177);
  padding: 1rem;
  padding-left: 5rem;
  margin: 0;
  color: white;
}
.country h2{
  border-top-left-radius: 5px;
}

.country h3 {
  padding: 0rem 1rem 1rem 5rem;
}
.country img {
  height: 40px;
  width: 60px;
  border-top-left-radius:5px;
  position: absolute;
  top:0;
  background-color: white;
  box-shadow: 0 0 5px #333;
}
/* country single*/
.countrySingleWrapper{
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  height: 500px;
  background: url("./Sky-cloudy-weather-Background\ \(1\).jpg");
}

.countrySingle{
  float: right;
  margin-top: 50px;
  margin-right: 450px;
  width: 500px;
  height: 300px;
  padding: 3rem;
  text-align: left;
  border: 2px solid rgb(86, 113, 221);
  color: white;
  background-color: #87a8c2;
  position: relative;
  
}
.countrySingleWrapper h1{
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.countrySingle a{
  margin: 10px;
}
.capital {
  float: right;
  margin: 1rem 1rem 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
}
.countrySingle img{
  position: absolute;
  height: 40px;
  width: 60px;
  margin: 20px;
  animation-name: icon;
  animation-duration: 8s;
  animation-delay: 1s;
}
@keyframes icon {
  0%   { left:100px; }
  25%  { left:200px; }
  50%  { left:250px; }
  75%  { left:200px; }
  100% { left:100px; }
}

.cardContent {
  padding: 1rem;
}

.cardContent span {
  font-weight: 700;
  margin-right: 1rem;
}
.low {
  text-transform: lowercase;
}


@media (max-width: 575.98px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .mainhome p,div.info{
    padding: 20px;
  }
}

@media (min-width: 767.98px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  .mainhome p,div.info{
    padding: 30px;
  }
}

@media (min-width: 1199.98px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  .mainhome p,div.info{
    padding: 2rem;
  }
}